@keyframes ldio-8zeeu93lv1o {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
  }
  .ldio-8zeeu93lv1o div { box-sizing: border-box!important }
  .ldio-8zeeu93lv1o > div {
    position: absolute;
    width: 78px;
    height: 78px;
    top: 11px;
    left: 11px;
    border-radius: 50%;
    border: 4px solid #000;
    border-color: #3d7ec0 transparent #3d7ec0 transparent;
    animation: ldio-8zeeu93lv1o 2.9411764705882355s linear infinite;
  }
  
  .ldio-8zeeu93lv1o > div:nth-child(2), .ldio-8zeeu93lv1o > div:nth-child(4) {
    width: 68px;
    height: 68px;
    top: 16px;
    left: 16px;
    animation: ldio-8zeeu93lv1o 2.9411764705882355s linear infinite reverse;
  }
  .ldio-8zeeu93lv1o > div:nth-child(2) {
    border-color: transparent #cc4545 transparent #cc4545
  }
  .ldio-8zeeu93lv1o > div:nth-child(3) { border-color: transparent }
  .ldio-8zeeu93lv1o > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-8zeeu93lv1o > div:nth-child(3) div:before, .ldio-8zeeu93lv1o > div:nth-child(3) div:after { 
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    top: -4px;
    left: 33px;
    background: #3d7ec0;
    border-radius: 50%;
    box-shadow: 0 74px 0 0 #3d7ec0;
  }
  .ldio-8zeeu93lv1o > div:nth-child(3) div:after {
    left: -4px;
    top: 33px;
    box-shadow: 74px 0 0 0 #3d7ec0;
  }
  
  .ldio-8zeeu93lv1o > div:nth-child(4) { border-color: transparent; }
  .ldio-8zeeu93lv1o > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-8zeeu93lv1o > div:nth-child(4) div:before, .ldio-8zeeu93lv1o > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    top: -4px;
    left: 28px;
    background: #cc4545;
    border-radius: 50%;
    box-shadow: 0 64px 0 0 #cc4545;
  }
  .ldio-8zeeu93lv1o > div:nth-child(4) div:after {
    left: -4px;
    top: 28px;
    box-shadow: 64px 0 0 0 #cc4545;
  }
  .loadingio-spinner-double-ring-qdy2ba2pud {
    width: 90px;
    height: 90px;
    display: inline-block;
    overflow: hidden;
    background: none;
    margin: 0 auto;
  }
  .ldio-8zeeu93lv1o {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.9);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-8zeeu93lv1o div { box-sizing: content-box; }
  /* generated by https://loading.io/ */