.item-details{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border: 1px solid #444;
}

.item-details .person-image {
    width: 20%;
    height: 20%;
    border-radius: 10px;
}
.item-details .list-group-item {
    padding: .25rem;
}

.item-details .list-group-item .term{
    margin-right: .5rem;
}